* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.right-component {
    .markdown-view {
        padding-right: var(--pc-padding);
        img {
            width: 100%;
        }

        h1 {
            margin-bottom: 16px;
            // padding-bottom: 15px;
            font-size: 32px;
            font-weight: bold;
            cursor: default;
            // border-bottom: 1px solid #ddd;
            a {
                display: none;
            }
        }

        h2 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        h3 {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 20px;
        }
        h4 {
            margin-bottom: 14px;
            font-weight: 600;
            font-size: 18px;
        }
        h5 {
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
        }
        h6 {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 14px;
        }

        p,
        table,
        ul,
        ol,
        pre {
            padding: 0;
            margin-bottom: 28px;
            line-height: 1.8;

            code {
                padding: 10px;
                border-radius: 5px;
            }
        }
        p {
            margin-bottom: 16px;
            color: rgb(115.2, 117.6, 122.4);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border-color: #ddd;
            table-layout: fixed;

            th,
            td {
                padding: 5px 10px;
                text-align: left;
                code {
                    white-space: normal;
                    word-break: break-all;
                }
            }
            th {
                width: auto;
            }

            th:nth-child(2) {
                width: 35%;
            }

            th {
                background-color: #f7f7f7;
            }
        }
        ol,
        ul {
            padding-left: 40px;
            li {
                line-height: 30px;
                color: rgb(115.2, 117.6, 122.4);
            }
        }
        pre {
            position: relative;
            border-radius: 0;
            display: block;
            overflow-x: auto;
            color: #58727e;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            font-family:
                Source Code Pro,
                Monaco,
                Inconsolata,
                monospace;
            white-space: pre-wrap;
            word-wrap: break-word;
            -webkit-font-smoothing: auto;

            div.code-body-box {
                max-height: 400px;
                overflow: auto;

                code {
                    tab-size: 4; /* 这可能不起作用，取决于浏览器支持 */
                    -moz-tab-size: 4; /* Firefox */
                    -o-tab-size: 4; /* Opera */
                }
            }

            & > .code-copy-button {
                position: absolute;
                top: 10px;
                right: 15px;
                background-color: rgba(0, 0, 0, 0);
                border: 0;
                outline: 0;
                cursor: pointer;
                color: #3890ff;
            }

            &.markdown-bash {
                width: fit-content;
                .code-body-box {
                    width: fit-content;
                    .language-bash {
                        width: fit-content;
                        padding-right: 80px;
                    }
                }
            }
        }
        &.render {
            a {
                color: #3890ff;
            }
            h1 {
                line-height: 46px;
                font-size: 33px;
                padding-bottom: 11px;
                border-bottom: 1px solid #ddd;
            }

            h2 {
                font-size: 24px;
            }
            h4 {
                font-size: 17px;
            }
            ul {
                padding-left: 20px;
                color: #000;
                li {
                    font-weight: bold;
                    color: #000;
                    h4 {
                    }
                }
                // margin-bottom: 10px;
            }

            ol {
                padding-left: 40px;
                color: #191919;
            }
        }
    }

    code span {
        font-family:
            Source Code Pro,
            Monaco,
            Inconsolata,
            monospace;
    }

    pre + p {
        margin-top: 20px;
    }

    .hljs {
        display: block;
        padding: 30px;
        overflow-x: auto;
        background: #f7f8fa;
    }

    .hljs-comment,
    .hljs-quote {
        color: #a0a1a7;
        font-style: italic;
    }

    .hljs-doctag,
    .hljs-formula,
    .hljs-keyword {
        color: #a626a4;
    }

    .hljs-deletion,
    .hljs-name,
    .hljs-section,
    .hljs-selector-tag,
    .hljs-subst {
        color: #e45649;
    }

    .hljs-literal {
        color: #0184bb;
    }

    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string,
    .hljs-regexp,
    .hljs-string {
        color: #50a14f;
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
        color: #c18401;
    }

    .hljs-attr,
    .hljs-number,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-pseudo,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable {
        color: #986801;
    }

    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-symbol,
    .hljs-title {
        color: #4078f2;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: 700;
    }

    .hljs-link {
        text-decoration: underline;
    }

    *:not(.code-body-box) > code {
        color: #a626a4;
        border-radius: 3px;
        white-space: nowrap;
    }
}
