.ste-dropdown-menu-root {
    .menu-box {
        padding: 20rpx 0;
        .menu-title-icon {
            display: inline-flex;
            transition: all var(--duration) linear;
        }
        .title {
            font-size: 28rpx;
            margin-right: 16rpx;
        }
        display: flex;
        align-items: center;
    }

    .dropdown-placeholder {
        position: fixed;
        z-index: 1;
        width: 100vw;
        top: 0;
        left: 0;
    }

    .dropdown-content {
        transition: opacity var(--duration) linear;
        position: fixed;
        z-index: 1;
        width: 100vw;
        left: 0;
        overflow: hidden;
        top: 40rpx;
        opacity: 0;

        &.hidden {
            z-index: -1 !important;
        }

        .menu-item-content {
            width: 100%;
            transition: all var(--duration);
            transition-duration: var(--duration);
            transform: translateY(-100%);
        }
    }

    &.round {
        .menu-item-content {
            padding: 24rpx;
            background-color: #fff;
            border-top: solid 2rpx #f9f9f9;

            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            row-gap: 20rpx;
        }
    }

    &.open {
        .menu-title-icon {
            transform: rotate(180deg);
        }
        .dropdown-content {
            opacity: 1;
            z-index: var(--menu-z-index);

            .menu-item-content {
                transform: translateY(0);
            }
        }
    }

    &.up {
        .menu-title-icon {
            transform: rotate(180deg);
        }
        .dropdown-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .menu-item-content {
                transform: translateY(100%);
            }
        }
        &.open {
            .menu-title-icon {
                transform: rotate(0);
            }
            .menu-item-content {
                transform: translateY(0);
            }

            .dropdown-placeholder {
                top: auto;
                bottom: 0;
            }
        }
    }
}
