.ste-step {
    flex: 1;
    font-size: 0;
    text-align: center;
    &.ste-step-row {
        display: block;

        &.reverse {
            .ste-step-head .ste-step-line {
                left: -50% !important;
                right: 50% !important;
            }
        }
    }

    &.ste-step-column {
        display: flex;

        &.reverse {
            .ste-step-head .ste-step-line {
                top: -100% !important;
            }
        }

        .ste-step-head .ste-step-line {
            height: calc(4rpx + 100%) !important;
            width: 2rpx !important;
            border-top: none;
            border-left-width: 2rpx;
        }

        .ste-step-content {
            padding-left: 6% !important;
            text-align: left !important;
        }
    }

    .head-is-dot {
        top: 12rpx;
        margin-bottom: 0 !important;
        margin-top: 14rpx !important;

        .ste-step-line {
            top: 14rpx !important;
            left: auto !important;
            right: auto !important;
        }

        .ste-step-icon {
            box-sizing: content-box;
            height: 16rpx !important;
            width: 16rpx !important;
            line-height: 16rpx !important;
            background-color: var(---dot-color);
            border-radius: 50%;
        }
    }
    .ste-step-head {
        border-color: var(---color);
        color: var(---num-color);
        display: flex;
        justify-content: center;
        margin-bottom: 22rpx;
        position: relative;

        .ste-step-line {
            display: inline-block;
            position: absolute;
            height: 2rpx;
            left: 50%;
            right: -50%;
            top: 20rpx;
            border-width: 0;
            border-top-width: 2rpx;
            border-color: var(---line-color);
            border-style: solid;
            box-sizing: border-box;
        }
        .ste-step-icon.is-icon {
            border-radius: 50%;
            border-style: solid;
            border-width: 2rpx;
            border-color: var(---color);
            background-color: #ffffff;
        }
        .ste-step-icon.is-text {
            border-radius: 50%;
            border-style: solid;
            border-width: 2rpx;
            background-color: var(---bg-color);
        }
        .ste-step-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: var(--font-size-24, 24rpx);
            height: 40rpx;
            line-height: 40rpx;
            width: 40rpx;
        }
        .ste-step-icon-inner {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
    .ste-step-content {
        display: inline-block;
        text-align: center;
        .ste-step-title {
            font-size: var(--font-size-32, 32rpx);
            color: var(---color);
            line-height: 44rpx;
        }
        .ste-step-desc {
            line-height: 44rpx;
            font-size: var(--font-size-28, 28rpx);
            color: var(---desc-color);
            margin-top: 8rpx;
        }
    }
}
