@mixin cell {
    flex: 1;
    // padding: 24rpx 32rpx;
    border-bottom: $default-border;
    text-align: left;
    min-height: 80rpx;
    font-size: var(--font-size-24, 24rpx);
    // vertical-align: middle;
    display: flex;
    align-items: center;
}

&.popover {
    overflow-x: hidden;
    .cell-box {
        // overflow: hidden;
        max-width: 100%;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // /* 防止文本被选中，提升移动端体验 */
        // user-select: none;
        // -webkit-user-select: none;
    }
}

.cell-box {
    // display: flex;
    // align-items: center;
    padding: 24rpx 32rpx;
}

&.border {
    border-right: $default-border;
}

&.selection {
}

&.align-text-center {
    text-align: center;
    .cell-box {
        text-align: center;
    }
}

&.align-text-right {
    text-align: right;
    .cell-box {
        text-align: right;
    }
}

&.align-center {
    justify-content: center;
    .cell-box {
        // justify-content: center;
        text-align: center;
    }
}

&.align-right {
    justify-content: flex-end;
    .cell-box {
        // justify-content: flex-end;
        text-align: right;
    }
}
