.ste-main-info--root {
    // 数据完全显示
    &.full-mode {
        .user-block {
            .user-info {
                .name {
                    max-width: 140rpx;
                    font-size: var(--font-size-24, 24rpx);
                }
                .desc {
                    font-size: var(--font-size-20, 20rpx);
                }
            }
        }
        .info-block {
            .item-block {
                .info {
                    font-size: var(--font-size-28, 28rpx);
                }
                .desc {
                    font-size: var(--font-size-24, 24rpx);
                }
            }
        }
        .divider {
            margin: 0 28rpx;
        }

        .code-block {
            .desc {
                font-size: var(--font-size-24, 24rpx);
            }
        }
    }

    // 模式1
    &.mode-1 {
        padding-right: 46rpx;
        .user-block {
            .user-info {
                .name {
                    max-width: 162rpx;
                    font-size: var(--font-size-28, 28rpx);
                }
                .desc {
                    font-size: var(--font-size-24, 24rpx);
                }
            }
        }
        .info-block {
            .item-block {
                .info {
                    font-size: var(--font-size-32, 32rpx);
                }
                .desc {
                    font-size: var(--font-size-24, 24rpx);
                }
            }
        }
        .divider {
            margin: 0 46rpx;
        }
        .code-block {
            .desc {
                font-size: var(--font-size-24, 24rpx);
            }
        }
    }

    // 模式2
    &.mode-2 {
        .info-block {
            justify-content: space-around;
            .item-block {
                .info {
                    font-size: var(--font-size-36, 36rpx);
                }
                .desc {
                    font-size: var(--font-size-28, 28rpx);
                }
            }
        }

        .code-block {
            .desc {
                font-size: var(--font-size-28, 28rpx);
            }
        }
    }
}
